version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
    time: "02:00"
    timezone: Europe/Paris
  open-pull-requests-limit: 10
  reviewers:
  - j0k3r
  groups:
    babel-dependencies:
      patterns:
        - "*babel*"
  ignore:
  # because of ESM
  - dependency-name: "semver-diff"
    versions:
    - ">= 4.0.0"
