{
  "comments": false,
  "plugins": [
    "source-map-support",
    "@babel/plugin-transform-class-properties"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "20"
        }
      }
    ]
  ]
}
