frameworkVersion: "^3.43.1"

service: serverless-github-check

plugins:
    - serverless-webpack
    - serverless-offline

provider:
    name: aws
    runtime: nodejs22.x
    profile: default
    region: ${opt:region, 'eu-west-1'}
    logRetentionInDays: 30
    versionFunctions: false
    deploymentMethod: direct
    architecture: arm64
    memorySize: 128
    environment:
        NAMESPACE: 20 Minutes
        # SecureString from SSM Parameters
        GITHUB_TOKEN: ${ssm:GITHUB_TOKEN}

package:
    individually: true

custom:
    webpack:
        includeModules: true
        packager: yarn
        excludeRegex: 'node_modules/(@aws-sdk|@aws-crypto|(.+\.(md|JPG|jpg|jpeg)$))|yarn\.lock'

functions:
    specification:
        handler: functions/specification.handler
        description: Validate GitHub PRs against some specifications
        environment:
            CHECK_BODY_LENGTH: 8
            CHECK_TITLE_LENGTH: 8
        events:
            -
                # default event
                http:
                    path: webhook
                    method: post
                    cors: true
            -
                http:
                    path: webhook/specification
                    method: post
                    cors: true

    label:
        handler: functions/label.handler
        description: Check for GitHub PR labels to block merge
        environment:
            # coma separated labels
            BLOCK_LABELS: "Work In Progress,Waiting For Change,Waiting For Travis,Do Not Merge,Blocked"
        events:
            -
                http:
                    path: webhook/label
                    method: post
                    cors: true

    fixup:
        handler: functions/fixup.handler
        description: Ensure no "fixup!" commits are in the PR
        timeout: 10
        events:
            -
                http:
                    path: webhook/fixup
                    method: post
                    cors: true

    autoMerge:
        handler: functions/auto-merge.handler
        description: Automatically merge Dependabot PR
        events:
            -
                http:
                    path: webhook/auto-merge
                    method: post
                    cors: true
